<p>
  person-page works!
</p>
<div *ngIf = "person">
  <h2>{{person.firstName| uppercase}} Details</h2>
  <div><span>personId: </span>{{person.personId}}</div>
  <div><span>email: </span>{{person.email}}</div>
  <div><span>last Name: </span>{{person.lastName}}</div>
  <div><span>telephone number: </span>{{person.number}}</div>
  <div><span>age: </span>{{person.age}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="person.firstName" placeholder="firstName"/>
    </label>
  </div>
  <!-- <button (click)="goBack()">go back</button>-->
  <!-- <button class="get" title="get person"
           (click)="getPerson()">get</button>-->
</div>
