<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
  <nav class="navbar navbar-expand-sm bg-#8de398" style="background-color: #8de398;">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Enjoy speaking</a>

  <!-- Links -->
  <ul class="navbar-nav">

    <li class="nav-item">
      <a class="nav-link" routerLink="persons/save">join us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="persons/login">enter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="persons/logout">exit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="persons/all">all the fans</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="events/all">Seminars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="events/save">Create seminars</a>
    </li>
  </ul>
</nav>
